@model E_Commerse.Core.Entities.Contact
@{
    ViewData["Title"] = "İletişim Kaydını Sil";
}

<h3>Bu iletişim kaydını silmek istediğinize emin misiniz?</h3>

<div class="card mt-3">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">Ad</dt>
            <dd class="col-sm-10">@Model.Name</dd>

            <dt class="col-sm-2">Soyad</dt>
            <dd class="col-sm-10">@Model.Surname</dd>

            <dt class="col-sm-2">E-posta</dt>
            <dd class="col-sm-10">@Model.Email</dd>

            <dt class="col-sm-2">Telefon</dt>
            <dd class="col-sm-10">@Model.Phone</dd>
        </dl>

        <form asp-action="Delete" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-secondary">Vazgeç</a>
            <button type="submit" class="btn btn-danger">Sil</button>
        </form>
    </div>
</div>
