@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model HomePageViewModel

@{
    ViewData["Title"] = Localizer["HomePageTitle"];
}

<!-- Slider -->
<partial name="_Slider" model="Model.Sliders" />

<section class="container">
    <!-- Dikkatini Çekebilecek Ürünler -->
    <h2 class="section-title">@Localizer["InterestingProducts"]</h2>
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <partial name="_ProductView" model="item" />
        }
    </div>
    <p>Culture: @System.Globalization.CultureInfo.CurrentCulture.Name</p>
    <p>UICulture: @System.Globalization.CultureInfo.CurrentUICulture.Name</p>

    @{
        var assemblyName = Localizer.GetType().Assembly.GetName().Name;
        var viewPath = ViewContext.ExecutingFilePath; // "~/Views/Home/Index.cshtml"
    }
    <p>Localizer Assembly: @assemblyName</p>
    <p>View Path: @viewPath</p>

    <!-- En Çok Favoriye Eklenen Ürünler -->
    @if (Model.PopularProducts != null && Model.PopularProducts.Any())
    {
        <section class="mt-5">
            <h2 class="section-title">@Localizer["MostFavoritedProducts"]</h2>
            <div class="products-row">
                @foreach (var item in Model.PopularProducts)
                {
                    <partial name="_ProductView" model="item" />
                }
            </div>
        </section>
    }
</section>
